* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100vh;
  background: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-btn {
  background: transparent;
  border: transparent;
  position: fixed;
  top: 2rem;
  left: 2rem;
  font-size: 1.3rem;
  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.toggle-btn:hover {
  color: rgb(0, 110, 129);
}

.modal-btn {
  background: white;
  color: rgb(1, 131, 131);
  border: 2px solid rgb(0, 68, 68);
  padding: 0.3rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(119, 119, 119);
}

.modal-btn:hover {
  background: rgb(0, 92, 92);
  color: white;
  box-shadow: 2px 2px 5px rgb(29, 29, 29);
}

.sidebar-center {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 25%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 2rem;
  padding: 1rem 0;
  background: white;
  z-index: 1;
  transform: translateX(-100%);
  transition: all 0.3s linear;
}

.show-sidebar {
  transform: translateX(0);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.heading h2 {
  text-transform: capitalize;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 1px 1px 3px rgb(100, 100, 100);
}

.heading h2 span {
  color: rgb(0, 133, 133);
}

.close-btn {
  background: transparent;
  border: transparent;
  color: rgb(0, 122, 122);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

.close-btn:hover {
  color: red;
  transform: rotate(90deg);
}

.links li {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  list-style-type: none;
  transition: all 0.3s linear;
}

.links li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(31, 56, 63);
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  transition: all 0.3s linear;
}

.links li:hover {
  background: aqua;
  color: rgb(0, 0, 0);
}

.links li a:hover {
  padding-left: 1rem;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.social-icons li {
  margin-left: 1rem;
  list-style-type: none;
}

.social-icons li a {
  text-decoration: none;
  font-size: 1.3rem;
  color: rgb(1, 139, 139);
}

.social-icons li a:hover {
  color: rgb(150, 58, 150);
}

.modal-center {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(158, 158, 158, 0.7);
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  z-index: -1;
}

.show-modal {
  visibility: visible;
  z-index: 10;
}

.modal-content {
  background: rgb(255, 255, 255);
  width: 40%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.modal-content h3 {
  color: rgb(2, 139, 139);
  font-size: 1.2rem;
  text-transform: capitalize;
}

.modal-close-btn {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
}

@media only screen and (max-width: 1310px) {
  .sidebar-center {
    width: 35%;
  }
}

@media only screen and (max-width: 880px) {
  .sidebar-center {
    width: 45%;
  }
}

@media only screen and (max-width: 670px) {
  .sidebar-center {
    width: 70%;
  }

  .modal-content {
    width: 70%;
  }
}

@media only screen and (max-width: 384px) {
  .sidebar-center {
    width: 85%;
  }

  .links li a {
    font-size: 1.2rem;
  }

  .social-icons li a {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 320px) {
  .sidebar-center {
    width: 100%;
  }
}
